body{
     
text-align: center;
               font-family: 'Abril Fatface', cursive;  
                     
}

h1{ 
     font-size: 50px;          
               
               color:brown}1

.tom-jerry{ image width: 40px 60px;}